<h1>Sign in to your account</h1>
<form class="form" method="post" action="./account/login">
  <div class="accountcontainer">
    <input type="text" class="forminput" name="username"
      placeholder="Enter your username" required="required" />

    <input type="password" class="forminput" name="password"
      placeholder="Enter your password" required="required" />
  </div>
  <div class="submitcontainer">
    <button type="submit" class="submitbutton">Sign in</button>
  </div>
</form>