html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 57, 58);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
}

.form, .snippetscontainer, h1 {
    display: block;
    grid-column: 2/4;
    justify-self: center;
    color: white;
}

.form {
    margin: 50px;
}

.formcontainer {
    width: 100%;
    height: 100%;
}

.form button {
    display: block;
}

.snippetpostcontainer textarea {
    outline: 0;
    resize: none;
    background-color:rgb(70, 70, 70);
    border-radius: 8px;
    width: 400px;
    height: 150px;
    padding: 7px;
}

.footer {
    display: block;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.navcontainer {
    padding: 10px;
    margin: 0;
    background-color: rgb(56, 57, 58);
    box-shadow: 0 2px 4px -2px grey;
    height: 25px;
    display: flex;
}

.navlist {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-self: center;
}

.navitem {
    margin-left: 10px;
    margin-right: 10px;
}

.navitem a {
    text-decoration: none;
    color: white;
}

.snippetscontainer {
    width: 100%;
}

.snippet {
    border-top: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
    word-break: break-all;
}

.forminput {
    display: block;
    margin: 10px;
}