<% if (typeof flash !== 'undefined') { %>
  <% if (flash.type === 'success') { %>
    <div class="flash">
  <%= flash.text %>
</div>
<% } else { %>
  <div class="flashfailed">
    <%= flash.text %>
  </div>
  <% } } %>
