<header>
    <div class="navcontainer">
        <ul class="navlist">
            <li class="navitem">
                <a class="navlink" href="./">Home</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="./account/login">Login</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="./account/register">Create account</a>
            </li>
        </ul>
    </div>
</header>