<form method="post" action="./<%= viewData.id %>/delete">
    <input type="hidden" name="id" value="<%= viewData.id %>" />
    <h3>Are you sure you want to delete this snippet?</h3>
    <button type="submit">Delete</button>
</form>