<div class="snippetcenter">
<form method="post" action="./<%= viewData.id %>/edit">
    <input type="hidden" name="id" value="<%= viewData.id %>" />
    <textarea name="message" autofocus="autofocus"><%= viewData.message %></textarea>
    <h3>Are you sure you want to edit this snippet?</h3>
    <button type="submit">Apply your changes</button>
</form>
</div>