<form class="form" method="post" action="./create">
  <div class="snippetpostcontainer">
    <textarea name="message" placeholder="Share your message here" required="required"
    autofocus="autofocus"></textarea>
    <button type="submit" class="submitbutton">Post a snippet</button>
  </div>
</form>

<div class="snippetscontainer">
    <% if (viewData.snippets.length) { %>
        <% for (const snippet of viewData.snippets.reverse()) { %>
            <div class="snippet">
                <h3><%= snippet.username %> </h3>
                <%= snippet.message %>
                <% if (snippet.createdByThisUser === true) { %>
                  <a class="edit" href="./<%= snippet.id %>/edit">Edit</a>
                  <a class="delete" href="./<%= snippet.id %>/delete">Delete</a>
                  <% } %>
            </div>
        <% } %>
      <% } else { %>
            There are no posted snippets
      <% } %>
</div>